* {
  box-sizing: border-box;
}
:root {
  --modal-backround-kolor: #fcfcfc;
  --header-backround: #ffffff;
  --image-backround: #2e2f42;
  --light-backround: #f4f4fd;
  --acent-color: #e7e9fc;
  --subtle-text: #8e8f99;
  --text: #434455;
  --pressed-state: #404bbf;
  --pimary-brand: #4d5ae5;
  --success: #31d0aa;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--header-backround);
  color: var(--text);
}

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  max-width: 100%; height: auto;
}
.mobil-menu-container {
  position: relative;
    padding-left: 40px;
    padding-top: 80px;
    padding-bottom: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }
.container {
 min-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
 

  


.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
 height: 72px;
}
.modal-menu {
  opacity: 0;
  visibility: hidden;
  pointer-events: none ;
  z-index: 1000;
  position: fixed;
  width:  100vw;
  height: 100vh;
  top: 0;
left: 0;
background-color:  var(--header-backround);
overflow-y: scroll;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

}




 .modal-menu.is-open {
opacity: 1;
z-index: 100;
visibility: visible;
pointer-events: auto;

 }
 .mobil-menu.is-hidden {
opacity: 0;
visibility: hidden;
pointer-events: none;

 }
 .mobil-menu-container {
  position: relative;
    padding-left: 40px;
    padding-top: 80px;
    padding-bottom: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }
 .link-menu-mobile.currenr {
color: var(--pressed-state);
 }

.menu-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  margin-left: auto;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--acent-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.button-header {

 border: none;
 padding: 0;
 background-color: transparent;
 position: absolute;
 top: 24px;right: 24px;
}


.mobil-menu-open-icon {
  
  stroke: #2e2f42;
}

/* .icon-modal-menu {
  position: absolute;
  
} */

.navigation {
  display: flex;
  align-items: center;
 
}
.logo-link {
  font-family: "Raleway", sans-serif;

  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--pimary-brand);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  display: inline-block;

  align-items: center;
  margin-right: 76px;
}
.logo-link:hover {
  color: var(--pressed-state);
}

.logo-studio {
  font-family: "Raleway", sans-serif;

  align-items: center;

  color: var(--light-backround);

  display: inline-block;
}
.logo-studio-link {
  color: var(--image-backround);
  margin-right: o;
  padding-top: 24px;
  padding-bottom: 24px;
}
.list-nav {
display: none;

 
 


}
.list-nav-modal {
  margin-bottom: 80px;
}
.list-nav-modal {
  margin-top: 80px;
 
}
.link-menu-mobile {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.5;
 margin-bottom: 40px;
  
  letter-spacing: 0.02em;
  text-transform: capitalize;
   color: var(--image-backround);
   display: flex;
   align-items: center;
  
  

   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-menu-mobile.current  {
color: var(--pressed-state);
}
.link-menu-mobile:hover {
 
  color: var(--pressed-state);
}




.link-address {
  display: none;
  font-style: normal;
  margin-left: auto;
}

.link-information-number {
  font-family: "Roboto", sans-serif;
  font-style: normal;
font-weight: 700;
  font-size: 30px;
  line-height: 1.1;
 
  letter-spacing: 0.02em;

  gap: 40px;
  display: flex;
  margin-left: auto;
  margin-bottom: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.link-information-two {
  font-family: "Roboto", sans-serif;
  font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
color: var(--text);
margin-bottom: 48px;

}


.link-information:hover {
  color: var(--pressed-state);
} 

.link-information:focus {
  color: var(--pressed-state);
}
.link-information-number:hover {
  color: var(--pressed-state);
}


 .link-information-number :focus {
  color: var(--pressed-state);
}
.name-soc-list-modal {
  display: flex;
  gap: 34px;
  margin-top: 48px;
}



  .title-section {
    max-width: 767px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-Mobil.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
  background-color: var(--background-color-secondary);
  padding-top: 112px;
  padding-bottom: 112px; }


.main-page-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--header-backround);
  margin-bottom: 48px;
  max-width: 320px;
  margin: 0% auto;
  
  margin-bottom: 88px;
  margin-right: auto;
  margin-left: auto;
  
}
.btn-order {
  font-family: "Roboto", sans-serif;
  background: var(--pimary-brand);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.04em;
  color: var(--header-backround);

  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-order:hover {
  background-color: var(--pressed-state);
}

.btn-order:focus {
  background-color: var(--pressed-state);
}



.information {
  background: var(--header-backround);
  padding-top: 96px;
 
  gap: 24px;
}

.icons {
  display: none;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}


.information-icon {
  width: 64px;
  height: 64px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.title-menu {
  text-align: center;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--image-backround);
  margin-bottom: 8px;

}

.paragraph {
  font-weight: 500;
 margin-bottom: 72px;
  font-size: 16px;
line-height: 1.5;
 
 
}

.benefits {
  border-bottom: 1px solid #e7e9fc;

position: relative;
}
.benefits {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.benefits-menu {
  gap: 24px;
}

/* .closing {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
} */
.closing-footer {
 display: flex;
 flex-direction: column;
  align-items: center;
  max-width: 428px;

}
.paragraph-social {
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #ffffff;
 margin: 0 auto;
  margin-bottom: 16px;
}


.footer-icon-email {
 

  margin-left: 16px;
}
.input-footer {
  width: 100%;
  height: 40px;
  border: 1px solid #ffffff;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  cursor: pointer;
  background-color: var(--image-backround);
  color: var(--header-backround);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  margin-bottom: 16px;
}

.footer-subscribe-form {
  display: flex;
 align-items: center;
  justify-content: center;
  min-width: 165px;
  height: 40px;
  background: #4d5ae5;
  border-radius: 4px;
  color: #ffffff;
  letter-spacing: 0.04em;

  position: relative;
  margin: 0 auto ;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  border: none;
  
}





.social-link {
  margin-bottom: 72px;
}

.container-page {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 16px;
  padding-left: 16px;
}



.section-team {
  background: var(--light-backround);
  padding-top: 96px;
  padding-bottom: 96px;
}

.desc-menu {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--image-backround);

  margin-bottom: 72px;
}

.images-photo {
  background: var(--header-backround);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
   
}

.container-menu {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 16px;
  padding-left: 16px;
 
}

.name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  text-align: center;
  letter-spacing: 0.02em;

  color: var(--image-backround);
  margin-bottom: 8px;
}

.specialty {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text);
  margin-bottom: 8px;
}

.name-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.name-soc-item {
  width: 40px;
  height: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.name-soc-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.name-soc-link:hover {
  background-color: #404bbf;
}
.name-soc-link:focus {
  background-color: #404bbf;
}
.name-soc-icon {
  fill: #f4f4fd;
}
.customers-container {
  padding-top: 120px;
  padding-bottom: 120px;
}
.title-customers {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 36px;
  line-height: 1.11;
  color: var(--image-backround);
  margin-bottom: 72px;
}



.customers-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}
.customers-soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-soc-link {
  color: var(--subtle-text);
}
.customers-soc-link:hover {
  border-color: #404bbf;
  color: #404bbf;
}
.customers-soc-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}
.customers-soc-link:hover .customers-icons {
  fill: #404bbf;
}
.customers-icon-list {
 display: flex;
 flex-wrap: wrap;
 column-gap: 16px;
  row-gap: 72px;

}
.customers-icons {
  fill: currentColor;
  transition: fiil var(--transform-all);
}
.closing { padding-top: 96px;padding-bottom: 96px;
  background: var(--image-backround);
}

.paragraph-ft {
  
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-backround);

  max-width: 268px;
  text-align: center;
}
.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.footer-soc-item {

  width: 40px;
  height: 40px;
}
.footer-soc-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
}
.footer-soc-link:hover {
  background-color: #31d0aa;
}
.footer-soc-link:focus {
  background-color: #31d0aa;
}
.footer-soc-icon {
  fill: var(--light-backround);
 
}
.footer-subscribe {
  display: flex;
}
.form-subscribe {
  width: 100%;
}

.paragraph-form {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.user-name-footer::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;

  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  color: #ffffff;
}
.logo-link-footer {
  font-family: "Raleway", sans-serif;

  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--pimary-brand);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  display: inline-block;

  
  margin-bottom: 16px;
}

.web-logo {
  margin-bottom: 72px;
text-align: center;
}
.footer-form {width: 100%;}

.main-menu-one {
  font-family: "Roboto", sans-serif;
  background: var(--light-backround);

  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.04em;
  color: var(--pimary-brand);
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--acent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-menu-one:hover {
  border-color: transparent;
  background-color: var(--pressed-state);
  color: var(--header-backround);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.main-menu-one:focus {
  border-color: transparent;
  background-color: var(--pressed-state);
  color: var(--header-backround);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.main-img {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-img:hover .paragraf-text {
  transform: translate(0, 0);
}
.main-img:focus .paragraf-text {
  transform: translate(0, 0);
}

.main-img:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.main-img:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.container-img {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 16px;
  padding-left: 16px;
  border: 1px solid var(--acent-color);
  border-top: none;
}
.paragraf-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 300px;
  width: 360px;
  padding: 40px 32px;
  font-family: "Roboto";
  font-style: normal;

  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: var(--pimary-brand);
  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
  list-style: none;
  margin: 0%;
  padding: 0%;
}

.link {
  text-decoration: none;
}



.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--image-backround);

  margin-bottom: 8px;
}

.subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;
  color: var(--text);
}
.section-img {
  display: none;
  padding-bottom: 120px;
}
.img-main-page {
  margin-right: 24px;
}

.page-menu-img {
  width: calc((100% - 48px) / 3);
}
.home-page {
  padding-top: 96px;
  padding-bottom: 120px;
}


.list-images {
  display: flex;
  gap: 24px;
}
.benefits-menu {
  display: flex;
}
.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
text-align: center;
}

.button-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.img-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  top: 0;
}
.modal {
  position: absolute;
  padding-top: 72px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
 

  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  margin-left: auto;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--acent-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  position: absolute;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop {
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
  color: #ffffff;
}

.modal-close:hover .modal-icon,
.modal-close:focus .modal-icon {
  fill: #ffffff;
}
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
  color: var(--image-backround);
}
.modal-field {
  margin-bottom: 8px;
}

.modal-field-check {
  margin-bottom: 24px;

}
.modal-check:focus + .modal-form-check span{
border-color: var(--pimary-brand);
  
}
.input-modal {
  width: 100%;
  height: 40px;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
 
}
.input-modal:focus {
  border-color: var(--pimary-brand);
}

.input-modal:focus + .icon-modal {
  fill: var(--pimary-brand);
}

.input-lable {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;

  color: var(--subtle-text);
}
.input-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text);
}
.icon-modal {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  display: block;
  fill: var(--image-backround);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrap {
  position: relative;
  margin-bottom: 8px;
}
.input-wrap-texterea {
  margin-bottom: 16px;
}

.button-submit {
  display: block;
  justify-content: center;
  align-items: center;
  border: none;
  width: 169px;
  height: 56px;
  background-color: var(--pimary-brand);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 24px;

  min-width: 169px;

  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--header-backround);
  cursor: pointer;
}
.input-name::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: rgba(46, 47, 66, 0.4);
  letter-spacing: 0.04em;
}
.texterea-modal {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  width: 100%;
  height: 120px;
  outline: transparent;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
}
.texterea-modal:focus + .input-modal {
  border-color: var(--pressed-state);
}

.modal-form-check {
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: var(--subtle-text);
  letter-spacing: 0.04em;
}

.modal-form-check span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  justify-content: center;
  fill: transparent;
}

.modal-check:checked + .modal-form-check span {
  background-color: var(--pressed-state);
  fill: var(--light-backround);
  border: none;
}
.modal-link {
  color: var(--pimary-brand);
}



@media screen and (min-width: 428px) {
  .title-section {  
    background-image: linear-gradient(
       rgba(46, 47, 66, 0.7),
       rgba(46, 47, 66, 0.7)
     ),
     url(../images/Dark-Mobil.jpg);
  }
 }
 
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
.title-section {
  background-image:linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),url(../images/Dark-Tablet@2x.jpg);
}
}

@media screen and (min-width: 428px) 
  { 
    
  .container {
    min-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
  }
  
}



@media screen and (min-width: 768px) {
  .title-section {  
    background-image: linear-gradient(
       rgba(46, 47, 66, 0.7),
       rgba(46, 47, 66, 0.7)
     ),
     url(../images/tablet.jpg);
  }
 }
 
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
.title-section {
  background-image:linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),url(../images/Dark-Tablet@2x.jpg);
}
}


  
 
@media screen and ( min-width: 768px)

 {.container { 
    width: 738px;
  
    margin-left: auto;
    margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;}

  .container-photo .container, .customers-container .container, .closing-footer .container {
    max-width: 584px;
  }
 .modal-menu  {
  display: none;
 }
  .header-container {
    width: 100% ;
   
    display: flex;
 
  }
  .title-section {

    background-size: cover;
    margin: 0 auto;
    padding-top: 112px;
    padding-bottom: 122px;
  }
  .main-page-title {
    max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.1;
  }
  .link-address {
     margin-left: auto;
  }
  .header-list {
    display: flex;
    flex-direction: column;
   
  }

  .link-information {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: var(--text-first);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
    .button-header {
      display: none;
    }
    .link-address {
      margin-bottom: px;
      display: flex;
      flex-wrap: wrap;
      font-style: normal;
      margin-left: 0;
    }
    
  .social-link {
    margin: 0;
  
  }
  .web-logo {
    margin: 0;
  }
  
    .list-nav {
     display: flex;
     justify-content: center;
        align-items: center;
        gap: 40px
        ;
      
      
      }
  
   .link-menu {
    position: relative;
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-secondary);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
   .paragraph {
    margin: 0;
   }

    
      .benefits {
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
          0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
      }
    .information {
  padding-top: 96px;
  padding-bottom: 96px;
    }
  
   .information-soc-list {
    display: flex;
   flex-wrap: wrap;
   text-align: left;
   gap: 72px 24px;
    }
    .information-soc-item {
     
      width: calc((100% - 24px) / 2);
    } 
   
    .title-menu {
      
     text-align: left;
     font-weight: 700;
     font-size: 36px;
  line-height: 1.1;
  
  
    }

    .currenr {
      color: var(--pressed-state);
    }
    .team-list {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
       gap: 72px 24px;
    }
    .footer-box {
      width: 100%;
    }
.footer-box {
  display: flex;
  gap: 24px;
 
}

.footer-form {
  display: flex;
  gap: 24px;
}
.input-modal {
  width: 100%;
  
} 
.input-modal:focus {
  border-color: var(--pimary-brand);
}

.input-modal:focus + .icon-modal {
  fill: var(--pimary-brand);
}
.modal-menu {
      
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  

}
.modal {

max-width: 408px;
}
.customers-item {
width: calc((100% - 48px) / 3);
}
.closing-footer {
display: flex;
max-width: 586px;
}
 .input-footer {
  width: 268px;
 
 }
 .web-logo {
text-align: left;
 }
 .paragraph-ft {
 text-align: left;
 margin: 0;
 }
 .paragraph-form {
  display: flex;
  justify-content: left;
  text-align: left;

 }
 .footer-subscribe-form {
  margin: 0px;
 }
 .footer-soc-item {
  margin: 0;
 }
 .closing-footer {
  gap: 72px 24px;
 }
}





 
@media screen and (min-width: 1158px) {
  .title-section {  
    max-width: 1440px;
    background-image: linear-gradient(
       rgba(46, 47, 66, 0.7),
       rgba(46, 47, 66, 0.7)
     ),
     url(../images/people-desktop.jpg);
  }
 }
 
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
.title-section {
  background-image:linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),url(../images/people-desktop@2x.jpg);
}

} 



  
@media screen and (min-width: 1158px) {
  .container {
   min-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.header-container {
  /* width: 100%; */
  height: 72px;
  display: flex;
}
.header-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.link-information {
  font-size: 16px;
    line-height: 1.5;
}

.title-section {
  max-width: 1440px;
  background-size: cover;
  margin: 0 auto;
  padding-top: 188px;
  padding-bottom: 188px;
}

.main-page-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--header-backround);

  max-width: 496px;
  
  margin-bottom: 48px;

 
}


.link-menu.current::after {
  position: absolute;
  content: '';
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background: #404BBF;
  border-radius: 2px;
  bottom: -1px;
} 
.link-menu:focus, .link-menu:hover {
  color: var(--pressed-state);
}

.icons {
  display: flex;
  margin: 0px;
  margin-bottom: 8px;
  
}
.information-soc-list {
  display: flex;
 flex-wrap: nowrap;
  gap: 24px;
}
.information-soc-item {
  width: calc((100% - 16px) / 4);
  margin: 0px;
}

.section-img {
  display: flex;
  padding-bottom: 120px;
}

.subtitle-main-page {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--image-backround);

  margin-bottom: 72px;
}
.customers-container {

 padding-top: 96px;
 padding-bottom: 96px;
}

.customers-item {
  width: calc((100% - 120px) / 6);

}

.title-menu {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
 
}

.paragraph {
  font-weight: 400;
}

.closing-footer {
  display:  flex;
  flex-direction: row;
}
.paragraph-ft {
margin: 0;

}
.footer-box {
  margin: 0;
}

.footer-soc-item {
  margin: 0;
}
.closing-footer {
  display: flex;
  align-items: baseline;
  padding-left: 15px;
  padding-right: 15px;
}
.input-footer {
  margin: 0;
}

.form-subscribe {
  margin-left: 60px;
}
.social-link {
  
  margin-left: 80px;
  
}
.paragraph-ft {
 
  width: 264px;
}
.paragraph-social {display: flex;
  justify-content: left;
 
}
}


  
